<form class="form-horizontal">
    <fieldset>
        <legend class="">Login</legend>
        <!--email-->
        <div class="form-group">
            <label for="loginEmail" class="col-md-5 control-label">Email</label>
            <div class="col-md-7">
                <input type="text" class="form-control" id="loginEmail" placeholder="Email">
            </div>
        </div>
        <!--password-->
        <div class="form-group">
            <label for="loginPassword" class="col-md-5 control-label">Password</label>
            <div class="col-md-7">
                <input type="password" class="form-control" id="loginPassword" placeholder="Password">
            </div>
        </div>
        <!--button-->
        <div class="form-group">
            <div class="col-md-12 text-center">
                <button class="btn btn-primary">Login</button>
            </div>
        </div>
    </fieldset>
</form>