<form class="form-horizontal" name="registerUserForm">
    <fieldset>
        <legend>Register</legend>
        <!--email-->
        <div class="form-group">
            <label for="email" class="col-md-5 control-label">Email</label>
            <div class="col-md-7">
                <input ng-model="registerUser.email" type="email" name="registerUsername" class="form-control" id="email" placeholder="Email" required="required">
            </div>
            <div class="col-md-12 text-center" role="alert">
                <span class="error" ng-show="registerUserForm.registerUsername.$error.required&&registerUserForm.registerUsername.$dirty">Required!</span>
            </div>
        </div>
        <!--password-->
        <div class="form-group">
            <label for="password" class="col-md-5 control-label">Password</label>
            <div class="col-md-7">
                <input ng-model="registerUser.password" name="registerPassword" minlength="6" maxlength="100" type="password" class="form-control" id="password" placeholder="Password" required="required">
            </div>
            <div class="col-md-12 text-center" role="alert">
                <span class="error" ng-show="registerUserForm.registerPassword.$error.required&&registerUserForm.registerPassword.$dirty">Required!</span>
            </div>
        </div>
        <!--confirm password-->
        <div class="form-group">
            <label for="confirmPassword" class="col-md-5 control-label">Confirm Password</label>
            <div class="col-md-7">
                <input ng-model="registerUser.confirmPassword" name="confirmRegisterPassword" minlength="6" maxlength="100" type="password" class="form-control" id="confirmPassword" placeholder="Password" required="required">
            </div>
            <div class="col-md-12 text-center" role="alert">
                <span class="error" ng-show="registerUserForm.confirmRegisterPassword.$error.required&&registerUserForm.confirmRegisterPassword.$dirty">Required!</span>
            </div>
        </div>
        <!--button-->
        <div class="form-group">
            <div class="col-md-12 text-center">
                <button ng-click="register(registerUser)" ng-disabled="registerUserForm.$invalid || registerUser.password != registerUser.confirmPassword" class="btn btn-primary">Register</button>
            </div>
        </div>
    </fieldset>
</form>