body {
	width: 98%;
    margin: 0 auto
}

.margin-top-80 {
    margin-top: 80px;
}

.margin-right-10 {
    margin-right: 10px;
}

.padding-top-40 {
    padding-top: 40px;
}

.error{
    color: coral;
}

select:required:invalid {
    color: #8f8f8f;
}
option[value=""][disabled] {
    display: none;
}
option {
    color: black;
}

.btn-small {
    padding: 2px 10px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.hidden-element {
    display: none;
}

.disabled-button {
    opacity: 0.5;
}

.small-image {
    width: 250px;
}

/*input.ng-invalid.ng-dirty {*/
    /*background-color: pink;*/
/*}*/

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.row{
	margin-left:0;
	margin-right:0;
}
