<div class="row margin-top-80">
    <div class="col-md-6 col-md-offset-3 well bs-component">
        <form class="form-horizontal" name="changePasswordUserForm">
            <fieldset>
                <legend>Change Password</legend>
                <!--oldPassword-->
                <div class="form-group">
                    <label for="oldPassword" class="col-md-5 control-label">Old Password</label>
                    <div class="col-md-7">
                        <input ng-model="userData.oldPassword" name="oldPassword" type="password" class="form-control"
                               id="oldPassword" placeholder="Old Password" required="required">
                    </div>
                    <div class="col-md-12 text-center" role="alert">
                        <span class="error"
                              ng-show="changePasswordUserForm.oldPassword.$error.required&&changePasswordUserForm.oldPassword.$dirty">Required!</span>
                    </div>
                </div>
                <!--newPassword-->
                <div class="form-group">
                    <label for="newPassword" class="col-md-5 control-label">Password</label>
                    <div class="col-md-7">
                        <input ng-model="userData.newPassword" name="newPassword" type="password" class="form-control"
                               id="newPassword" placeholder="New Password" required="required">
                    </div>
                    <div class="col-md-12 text-center" role="alert">
                        <span class="error"
                              ng-show="changePasswordUserForm.newPassword.$error.required&&changePasswordUserForm.newPassword.$dirty">Required!</span>
                    </div>
                </div>
                <!--confirmNewPassword-->
                <div class="form-group">
                    <label for="confirmNewPassword" class="col-md-5 control-label">Confirm Password</label>
                    <div class="col-md-7">
                        <input ng-model="userData.confirmPassword" name="confirmNewPassword" type="password"
                               class="form-control" id="confirmNewPassword" placeholder="Confirm New Password"
                               required="required">
                    </div>
                    <div class="col-md-12 text-center" role="alert">
                        <span class="error"
                              ng-show="changePasswordUserForm.confirmNewPassword.$error.required&&changePasswordUserForm.confirmNewPassword.$dirty">Required!</span>
                    </div>
                </div>
                <!--button-->
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <button ng-click="changePassword(userData)" ng-disabled="changePasswordUserForm.$invalid"
                                class="btn btn-primary">Change Password
                        </button>
                        <a href="#/" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>